##A pretty notebook for my Decision Tree Classifier model

In [4]:
#libraries

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file (pd.read_csv)
#Input data files are available in the "../input/" directory.
#For example, running this will list all files under the input dir.

import os
for dirname, _, filenames in os.walk("data"):
    for filename in filenames:
        print(os.path.join(dirname, filename))

data/test.csv
data/train.csv
data/gender_submission.csv

In [5]:
#Copy my data to
data = pd.read_csv("data/train.csv")
data_copy = data.copy()
print(data_copy.head())

In [6]:
#here will be visualisation

   PassengerId  Survived  Pclass
0            1         0       3  \
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp
0                            Braund, Mr. Owen Harris    male  22.0      1  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [7]:
#Data preprocessing

#Drop unused:
data_copy = data_copy.drop(["Name", "Ticket", "Cabin"], axis = 1)

In [8]:
#Fill missing values in the copy:
data_copy["Age"].fillna(data_copy["Age"].median(), inplace = True)
data_copy["Embarked"].fillna(data_copy["Embarked"].mode()[0], inplace = True)

In [12]:
#Encode categoriacal features:

data_copy['Sex'] = data_copy['Sex'].replace({'male': 0, 'female': 1})
data_copy['Embarked'] = data_copy['Embarked'].replace({'S': 0, 'C': 1, 'Q': 2})

In [13]:
#Split the data into training and testing sets
from sklearn.model_selection import train_test_split

X = data_copy.drop(["Survived"], axis = 1)
y = data_copy["Survived"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [31]:
#Train a decision tree on the training data:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model.fit(X_train, y_train)
accuracy = model.score(X_test, y_test)
print("Accuracy: ", accuracy)
#Accuracy:  0.7486033519553073

Accuracy:  0.7318435754189944

In [49]:
#Copy test data
test_data = pd.read_csv("data/test.csv")
test_data_copy = test_data.copy()
test_data_copy.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [52]:
#Prepare test data: fill NaNs

test_data_copy = test_data_copy.drop(["Name", "Ticket", "Cabin"], axis = 1)
test_data_copy["Age"].fillna(test_data_copy["Age"].median(), inplace = True)
test_data_copy["Embarked"].fillna(test_data_copy["Embarked"].mode()[0], inplace = True)
test_data_copy["Fare"].fillna(test_data_copy["Fare"].median(), inplace = True)

In [53]:
test_data_copy.columns

Index(['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [54]:
#Encode categorical features:

test_data_copy["Sex"] = test_data_copy["Sex"].replace({"male":0, "female": 1})
test_data_copy["Embarked"] = test_data_copy["Embarked"].replace({"S": 0, "C": 1, "Q": 2})

In [64]:
#Make predictions
#test_data_copy["Survived"] = model.predict(test_data_copy)
submission = test_data_copy[["PassengerId", "Survived"]]
submission.to_csv("submissions_tree.csv", index = False)

In [58]:
print(submission)

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         1
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [42]:
print(data_copy.columns)
print(test_data_copy.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Embarked'],
      dtype='object')
Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [62]:
submission = submission.drop(submission.columns[0], axis=1)
print(submission)

     Survived
0           0
1           1
2           0
3           1
4           1
..        ...
413         0
414         1
415         0
416         0
417         0

[418 rows x 1 columns]

In [22]:
feature_names = model.feature_names_in_
print(feature_names)

['PassengerId' 'Pclass' 'Sex' 'Age' 'SibSp' 'Parch' 'Fare' 'Embarked']